:root {
  --theme-red: #e63946;
  --theme-white: #f1faee;
  --light-blue: #a8dadc;
  --medium-blue: #457b9d;
  --dark-blue: rgb(29, 53, 87);
  --tranparent-dark-blue: rgba(29, 53, 87, 0.8);
  --tranparent-dark: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
form,
.text-label,
fieldset {
  display: flex;
  flex-direction: column;
}

body {
  align-items: center;
  font-family: Poppins, sans-serif;
  background-color: var(--light-blue);
}

h1 {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background-color: var(--tranparent-dark);
  color: var(--theme-white);
  text-align: center;
  letter-spacing: 0.15rem;
}

form {
  width: 100%;
  background-color: var(--tranparent-dark-blue);
  color: var(--theme-white);
}

#description {
  width: 100vw;
  padding-top: 1rem;
  background-color: var(--tranparent-dark-blue);
  color: var(--theme-white);
  text-align: center;
}

.text-label,
fieldset {
  margin: 1rem 1rem 0;
}

fieldset {
  padding: 0.5rem;
}

#comments {
  width: 100%;
  font-family: Poppins, sans-serif;
  padding: 0.5rem;
}

#submit {
  height: 3rem;
  margin: 1rem 0 0;
  background-color: var(--theme-red);
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  #personal-info,
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #additional {
    grid-column: 1/3;
  }
}

@media (min-width: 1024px) {
  #description,
  form {
    width: 90%;
  }

  #description {
    margin: 2rem 0 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  #personal-info {
    display: flex;
    flex-direction: column;
  }

  #submit {
    grid-column: 1/4;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
